{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baixar Videos do Youtube</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" href="{% static 'images/Logo-baixar-videos-do-youtube.webp' %}" sizes="48x48" />
</head>

<body>
    <header>
        <nav>
            <div id="myTopnav" class="topnav">
                <div id="logoDiv">
                    <a class="logo" href="#">
                        <div>
                            <picture>
                                <source srcset="{% static 'images/Logo-baixar-videos-do-youtube.webp' %}"
                                    type="image/webp" />
                                <source srcset="{% static 'images/Logo-baixar-videos-do-youtube.png' %}"
                                    type="image/png" />
                                <img alt="Logo Baixar Videos Online" width="60" height="60" class="lazyload"
                                    src="{% static 'images/Logo-baixar-videos-do-youtube.png' %}" />
                            </picture>
                        </div>
                        <!-- Baixar-Vídeos<span>.Online</span> -->
                    </a>
                    <p>Baixar-Vídeos<span>.Online</span></p>
                </div>
                <div class="navBarItems">
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a class="nav-link" title="Início" href="#">
                        &nbsp;Ajuda</a>
                    <a class="nav-link" title="Indico"
                        href="#">&nbsp;Contato</a>
                </div>
            </div>
        </nav>
        <div class="bannerDiv">
            <picture>
                <source srcset="{% static 'images/banner-pagina-inicial-baixar-videos-do-youtube.webp' %}"
                    type="image/webp" />
                <source srcset="{% static 'images/banner-pagina-inicial-baixar-videos-do-youtube.png' %}"
                    type="image/png" />
                <img alt="Banner Baixar Videos do Youtube" width="586" height="165" class="lazyload"
                    src="{% static 'images/banner-pagina-inicial--baixarvideos-do-youtube.png' %}" />
                <h1>Baixar-Vídeos<span>.Online</span></h1>
        </div>
    </header>
    <main class="container">

        <div class="requestFormDiv">
            <form id="videoUrlForm" class="requestForm" action="{% url 'index' %}" method="post" autocomplete="off">
                {% csrf_token %} {{ form }}
                <button id="searchVideoInfo" class="submitButton" type="submit"> <i class="fa fa-search"></i></button>
                <p>Ao utilizar nosso serviço você aceita nossos <a href="">Termos de Serviço</a> e <a href="">Política
                        de Privacidade</a></p>
            </form>
        </div>
        <center>
            <img id="loadingGif" style="display: none;transform: rotate(180deg); margin-top: 30px;" src="{% static 'images/Logo.gif' %}" alt="Baixar Videos Online Gif" width="60" height="60">
        </center>
        <div class="resultDiv">
            {% if titulo %}
            <div class="videoInfoDiv">
                <div class="videoImage">
                    <img src="{{ imagem }}" alt="Thumbnail do Vídeo" width="320" height="240" style="width: 320px; height: 180px; object-fit: cover; object-position: 0 50%;">
                    <div class="videoInfoSubDiv">
                        <h2>{{ titulo }} {{ video_objeto.extensao }}</h2>
                        <h3>{{ duracao }}</h3>
                        <!-- <span><strong>Autor: </strong> {{ autor }}</span> -->
                        <!-- <span><strong>Duração do Vídeo: </strong>{{ duracao }}</span> -->
                        <span><strong>Formato: </strong>{{ melhor_video.extensao }}</span>
                        <span><strong>Resolução: </strong>{{ melhor_video.resolucao }} pixels</span>
                        <span><strong>Tamanho: </strong>{{ melhor_video.tamanho }} Mb</span>
                        <form action="{% url 'video_download' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="video_url" value="{{ melhor_video.url }}" />
                            <input type="hidden" name="titulo" value="{{ titulo }}" />
                            <input type="hidden" name="extensao" value="{{ melhor_video.extensao }}" />
                            <input class="mainDownloadInput" type="submit" value="BAIXAR AGORA" />
                        </form>
                    </div>
                </div>

            </div>
            <div class="videoTablesDiv">
                <h2>Outras Opções para você Baixar</h2>
                <div>
                    <h3>Somente Áudio</h3>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Formato</th>
                                <th scope="col">Tamanho</th>
                                <th scope="col">Qualidade</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for audio, objetos in audio_objeto.items %}
                            <tr>
                                <td scope="row">{{ objetos.extensao }}</td>
                                <td scope="row">{{ objetos.tamanho }} Mb</td>
                                <td scope="row">{{ objetos.qualidade }}</td>
                                <form action="{% url 'video_download' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="video_url" value="{{ objetos.url }}" />
                                    <input type="hidden" name="titulo" value="{{ titulo }}" />
                                    <input type="hidden" name="extensao" value="{{ objetos.extensao }}" />
                                    <td scope="row"><input type="submit" value="Baixar" /></td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <h3>Somente Vídeo (sem áudio)</h3>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Formato</th>
                                <th scope="col">Tamanho</th>
                                <th scope="col">Resolução</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for so_video, objetos in so_video_objeto.items %}
                            <tr>
                                <td scope="row">{{ objetos.extensao }}</td>
                                <td scope="row">{{ objetos.tamanho }} Mb</td>
                                <td scope="row">{{ objetos.resolucao }} pixels</td>
                                <form action="{% url 'video_download' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="video_url" value="{{ objetos.url }}" />
                                    <input type="hidden" name="titulo" value="{{ titulo }}" />
                                    <input type="hidden" name="extensao" value="{{ objetos.extensao }}" />
                                    <td scope="row"><input type="submit" value="Baixar" /></td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
        <section>
            <article>
                <h1>Baixar Vídeos do Youtube Online</h1>
                <p>
                        Para baixar vídeos do youtube utilizando a ferramenta Baixar-Vídeos.Online 
                    basta você copiar o URL (endereço) do vídeo que você quer baixar, colar 
                    no campo indicado e clicar na lupinha. Nosso site fará uma busca no youtube e
                    será apresentado o vídeo com áudio na melhor resolução disponibilizada. 
                    Além disto serão apresentadas diversas outras opções de download. 
                </p>
                <h2>Baixar Vídeos do Youtube Online pelo Computador</h2>
                <h3>Passo 1 - Acessar o vídeo pelo Youtube</h3>
                <p>    Acesse o vídeo que você quer baixar pelo youtube.</p>
                <h3>Passo 2 - Copiar o URL do vídeo</h3>
                <p>
                        Copie todo o URL (endereço do site, na barra do seu navegador) do vídeo 
                    selecionando o mesmo na barra de endereço do seu navegador e apertando ao mesmo tempo
                     as teclas "Ctrl" e "C" do seu teclado.
                </p>
                <p>
                        Opcionalmente você pode clicar no botão "COMPARTILHAR", logo abaixo do vídeo. Irá aparecer uma 
                    janela com o URL do vídeo. Basta clicar no botão "COPIAR" que o URL já estará copiado.
                </p>
                <h3>Passo 3 - Colar o URL do vídeo no local indicado</h3>
                <p>
                        Acesse o site do <a href="https://baixar-videos.online">Baixar-Vídeos.Online</a> e cole o URL 
                    copiado no local indicado (use as teclas "Ctrl"+"V" pressionadas ao mesmo tempo). Então clique na lupa para o site fazer a busca do vídeo no youtube.
                </p>
                <h3>Passo 4 - Escolha uma das Opções para Baixar o seu Vídeo!</h3>
                <p>
                    Será apresentada a opção de vídeo com áudio que possui a melhor resolução dentre os 
                    vídeos disponibilizados. Para baixar, clique no botão verde!
                </p>
                <p>
                    Para baixar as outras opções, basta clicar no botão "BAIXAR" referente à opção apresentada.
                </p>
                <p>
                    Ao clicar no botão, seu download iniciará automaticamente e você pode encontra-lo na pasta 
                    de downloads do seu computador.
                </p>


                <h2>Baixar Vídeos do Youtube Online pelo Celular</h2>
                <h3>Passo 1 - Acessar o vídeo pelo aplicativo do Youtube</h3>
                <p>Acesse o vídeo que você quer baixar pelo aplicativo do Youtube instalado no seu celular.</p>
                <h3>Passo 2 - Copiar o URL do vídeo</h3>
                <p>
                    Aperte no botão "Compartilhar", logo abaixo do vídeo. Irá subir uma 
                    janela com as opções de compartilhamento. Basta apertar na opção "Copiar link" que o URL já estará copiado.
                </p>
                <h3>Passo 3 - Colar o URL do vídeo no local indicado</h3>
                <p>
                    Acesse o site do <a href="https://baixar-videos.online">Baixar-Vídeos.Online</a> e cole o URL 
                    copiado no local indicado (pressione seu dedo sobre o texto "Cole o Link do Video Aqui" por um tempo até que 
                    apareça a opção "COLAR", aperte em colar logo em seguida).
                </p>
                <p>
                    Então aperte na lupa para o site fazer a busca do vídeo no youtube.
                </p>
                <h3>Passo 4 - Escolha uma das Opções para Baixar o seu Vídeo!</h3>
                <p>
                    Será apresentada a opção de vídeo com áudio que possui a melhor resolução dentre os 
                    vídeos disponibilizados. Para baixar, aperte no botão verde!
                </p>
                <p>
                    Para baixar as outras opções, basta apertar no botão "BAIXAR" referente à opção apresentada.
                </p>
                <p>
                    Ao clicar no botão, seu download iniciará automaticamente e você pode encontra-lo na pasta 
                    de downloads do seu computador.
                </p>
            </article>
        </section>

    </main>
    <script>
        var video_url = "{{ video_url }}";
        var titulo = "{{ titulo }}";
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>